.container {
  text-align: center;
  height: 600px
}
img {
  padding: 10px;
  height: 50%;
  width: 50%;
}
tr:nth-child(even) {
  background-color: #d3d3d3;
}
tr:nth-child(odd) {
  background-color: white;
}
th {
  background-color: #a9a9a9;
  text-align: center;
}
