table, tr, th, td {
  border:1px solid black;
}
table {
  border-collapse: collapse;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #d3d3d3;
}
td {
  font-style: italic;
}
h2, h3 {
  font-family: 'Josefin Slab', serif;
}
#image {
  height: 300px;
  width: 300px;
  margin: auto;
  background-image: url("http://rapzilla.com/rz/images/nf-therapy-session-cover.jpg");
  background-size: cover
}
#list {
  font-style: italic;
}
a {
  text-decoration: none;
  font-style: #000000;
}
a:hover {
  text-decoration: underline;
  background-color: #d3d3d3;
}
